<!DOCTYPE html>
<html ng-app="UserApp">

  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script src="user.js"></script>
    <link rel='stylesheet' href='main.css'/>
  </head>

  <body ng-controller="user as user">

    <div class="userEdit">
      <div class="editBorder header">
        <h1>{{ user.message }}</h1>
        <p>{{ user.subMessage }}</p>
      </div>
      <div class="editContent">
        <form id='form'>
          <p class='formData'>
            <span ng-click="user.editFn()" ng-show="user.showFn">First Name: {{ user.firstname }}</span>
            <span><input class='inputBox' ng-blur="user.editFn()" ng-model="user.firstname" ng-show="user.inputFn"/></span>
          </p>
          <p class='formData'>
            <span ng-click="user.editLn()" ng-show="user.showLn">Last Name: {{ user.lastname }}</span>
            <span><input class='inputBox' ng-blur="user.editLn()" ng-model="user.lastname" ng-show="user.inputLn"/></span>
          </p>
          <p class='formData'>
            <span ng-click="user.editE()" ng-show="user.showE">Email: {{ user.email }}</span>
            <span><input class='inputBox' ng-blur="user.editE()" ng-model="user.email" ng-show="user.inputE"/></span>
          </p>
        </form>
      </div>
      <div class="editBorder footer">
        <p>&copy copyright 2016</p>
      </div>
    </div>

  </body>
</html>
